<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tda.finalyear">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.notice.EditNoticeActivity"></activity>
        <activity android:name=".activities.notice.AddNoticeActivity" />
        <activity android:name=".activities.notice.NoticeActivity" />
        <activity android:name=".activities.notice.NoticeListActivity" />
        <activity android:name=".activities.event.EventListActivity" />
        <activity android:name=".activities.holiday.HolidayListActivity" />
        <activity android:name=".activities.admin.AdminSettingsActivity" />
        <activity android:name=".activities.school.AboutSchoolActivity" />
        <activity android:name=".activities.student.StudentsListActivity" />
        <activity android:name=".activities.teacher.TeachersListActivity" />
        <activity android:name=".activities.exam.ExamActivity" />
        <activity android:name=".activities.exam.AddExamActivity" />
        <activity android:name=".activities.exam.EditExamActivity" />
        <activity android:name=".activities.fee.FeeActivity" />
        <activity android:name=".activities.fee.EditFeeActivity" />
        <activity android:name=".activities.fee.AddFeeActivity" />
        <activity android:name=".activities.event.EventActivity" />
        <activity android:name=".activities.event.EditEventActivity" />
        <activity android:name=".activities.event.AddEventActivity" />
        <activity android:name=".activities.holiday.HolidayActivity" />
        <activity android:name=".activities.holiday.EditHolidayActivity" />
        <activity android:name=".activities.holiday.AddHolidayActivity" />
        <activity android:name=".activities.admin.AdminProfileActivity" />
        <activity android:name=".activities.admin.AdminActivity" />
        <activity android:name=".activities.admin.AdminSignupActivity" />
        <activity android:name=".activities.admin.AdminLoginActivity" />
        <activity android:name=".activities.teacher.TeacherActivity" />
        <activity android:name=".activities.teacher.TeacherSignupActivity" />
        <activity android:name=".activities.teacher.TeacherLoginActivity" />
        <activity android:name=".activities.student.StudentActivity" />
        <activity android:name=".activities.student.StudentSignupActivity" />
        <activity android:name=".activities.student.StudentLoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>